:root {
  font-family: sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 2rem;
}

#game {
  display: block;
  width: 900px;
  margin: 0 auto;
  cursor: none;
  image-rendering: pixelated;
}

#gui {
  display: grid;
  gap: 1rem;
  width: 900px;
  margin: 0 auto;
  padding: 1rem 0;
}

#gui h2 {
  margin: 1rem 0 0.25rem;
  font-family: monospace;
  font-size: 24px;
}

#gui :has(> button + button) {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

#gui button {
  padding: 0.5rem 0.75rem;
  border: 1px solid black;
  font-family: monospace;
  font-size: 16px;
  background: white;
  cursor: pointer;

  &.selected {
    background: black;
    color: white;
  }
}
