:root {
  font-family: sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 2rem;
}

#game {
  display: block;
  width: 1200px;
  margin: 0 auto;
  border: 1px solid black;

  cursor: none;
  image-rendering: pixelated;
}
